{% extends 'base.html.twig' %}

{% block title %}Les séries{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Toutes les séries</h1>
    {% for program in programs %}
        <h2>
            {{ loop.index }} ) <a href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a>
        </h2>
        <p>{{ program.summary }}</p>
    {% else %}
        Aucune série trouvée
    {% endfor %}
{% endblock %}
